/OlaMundo/nbproject/private/
/Aula02/nbproject/private/
/Aula02/build/
/Exercicio02/nbproject/private/
/Aula03/nbproject/private/
/Aula03/build/
/Aula04/nbproject/private/
/Aula04/build/
/Aula05/nbproject/private/
/Aula05/build/
/Aula06/nbproject/private/
/Aula06/build/
/Aula07/nbproject/private/
/Aula07/build/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/Exercicio09/nbproject/private/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/